video
{
	object-fit: cover;
	object-position: inherit;
}


.vjs-poster
{
	background-size: cover;
	background-position: center;
	z-index: 10000055;
}


#chat
{
    position: fixed;
    min-width: 300px;
    width: 20%;
    height: 100%;
	right: 0%;
	top: 0%;
}


#abovechat
{
    position: absolute;
	width: 100%;
	height: 12.5%;

/*     text-align: center;
	display: flex;
	justify-content: center;
	align-items: center; */
	
	font-family: Impact;
	font-size: 24pt;
	color: white;
	text-shadow: 2px 2px #000000;
	
	z-index: 1000009;	
}

img.emoticon
{
/* 	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
    cursor: default; */
	height: 1.5em;
	vertical-align: bottom;
}

#chatoverlay-front
{
    position: absolute;
	width: 100%;	
	height: 12.5%;
	top: 5%;
	right: 0%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;	
	
	z-index: 1000007;
}

#chatoverlay-back
{
    position: absolute;
	width: 100%;	
	height: 12.5%;
	top: 5%;
	right: 0%;	
	
	display: flex;
	justify-content: center;
	align-items: center;
	
/* 	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none; */	
	
	z-index: 1000000;
}

#chatcontainer
{
/* 	scroll-margin: 6px;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	z-index: 1000030; */
}

#chattext
{
    position:absolute;
    height:75%;
	width: 90%;
	top: 10%;
	
    overflow-y: auto;
	word-wrap: break-word;
	font-size: 9pt;
	
	/* vertical-align: bottom; */
	
	z-index: 1000001;	
	
	scroll-margin: 6px;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	scroll-snap-type:  y proximity;
	scroll-padding: auto;	
	
	/* scroll-padding: auto;	 */
	/* scroll-padding: 0px 0px 0px 0px; */
	/* scroll-snap-type:  y proximity; */
	
}

/* #chattext span {
  display: inline-block;
  vertical-align: top;
  text-align: left;
} */

#chatbubble
{
	margin-bottom: 2px;
	margin-left: 10%;
    padding: 12px;	
	
	font-family: Roboto;
	color: white;
	text-shadow: 2px 2px #000000;

	line-height: 1.5em;
	margin-left: 15%;	
	
/* 	line-height: 1.5;
	display: inline-block;
	vertical-align: top; */
	
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	vertical-align: text-top;
	
	/* display: block; */
	/* justify-content: center; */
	/* align-items: flex-start;	 */
	
	border-radius: 15px;
	background-color: rgb(20, 20, 20, 0.75);	

	background: linear-gradient(to top, rgba(80, 80, 80, 0.85) 0%, rgba(20, 20, 20, 0.65) 100%);	

	width:80%;
	
	z-index: 1000008;	
}

.playername
{
	
    font-size: 11pt;
	font-weight: bold;
	text-align: left;
	/* text-decoration: underline wavy;	 */

    color: #1f180e;
    text-shadow: 1px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}


#playerbubble
{
	margin-bottom: 2px;
	margin-left: 10%;
    padding: 12px;

/* 	text-align: justify;
	text-justify: inter-word; */
	
	font-family: Roboto;
	font-weight: bold;
	
	line-height: 1.5em;
	margin-left: 15%;	

/* 	color: black;
	text-shadow: 1px 1px #8a8a8a;
	font-size: 11pt; */
	
    color: #1f180e;
    background-color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
	font-size: 9pt;
	
	/* text-shadow: -1px -1px #000000, 1px -1px #000000, -1px 1px #00000, 1px 1px #00000	 */
/* 	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;	 */
	
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	vertical-align: text-top;
	
	border-radius: 15px;

/*     border: solid rgba(0,0,0,.25);
    border-width: 3px;	 */
	
/* 	background-color: rgb(20, 20, 20, 0.75);	
	background: linear-gradient(to top, rgba(128, 128, 128, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%);	 */

	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 0%, #9f7928 0%, #8A6E2F 30%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);	
	
	width:80%;
	
	z-index: 1000008;	
}



#belowchat
{
    position: absolute;
	width: 75%;
	height: 12.5%;
	min-height: 100px;
	bottom: 2%;	
	margin-left: 12.5%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
    border: solid;
    border-width: 3px;
	border-color: #464646;
	border-radius: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background: black;

	text-align: center;
	padding: 12px;
	color: white;
	z-index: 1000002;
}

#textfield
{
    position: absolute;
    height: 28px;
    width: 83.5%;
	top: -100%;
	left: 5%;
    
    border: solid;
	border-radius: 10px;	
    border-width: 2px;
    border-color: #464646;
	outline: none;	
	
	padding-left: 5%;
	padding-right: -10%;
}

#chatButton
{
    position: absolute;
    height: 60%;
    width: 25%;
    
    right: 7.5%;
	bottom: 15%;

	border-radius: 10px;    
    background-color: #895BDE;
    color: white;
	text-shadow: 2px 2px #000000;
	outline: none	
}


/* .scrollbar {
	margin-left: 22px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-top: 80px;
}

.force-overflow {
	min-height: 450px;
	max-height: 500px;
} */

#wrapper {
/* 	text-align: center;
	margin: auto;
	z-index: 1000032;	 */
}

/* styles the chat scrollbar for the browsers that supports webkit */

#chattext::-webkit-scrollbar
{
    width: 12px;
    border-radius: 2px;
}

#chattext::-webkit-scrollbar-thumb
{
    background-color: #797a7a;
    border-radius: 2px;
	border: solid;
	border-color: #666666;
	border-width: 3px;
}

#chattext::-webkit-scrollbar-track-piece {
	/* background-color: silver; */
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent transparent transparent;
  height: 65px;
  background-color: transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent transparent transparent;
  background-color: transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
  background-color: transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: transparent transparent transparent transparent;
  background-color: transparent;
}

/* .scroll {overflow:auto;}
.scroll::-webkit-scrollbar {
    width:16px;
    height:16px;
    background:inherit;
}
.scroll::-webkit-scrollbar-track:vertical {
    border-right:8px solid rgba(0,0,0,.2);
}
.scroll::-webkit-scrollbar-thumb:vertical {
    border-right:8px solid rgba(255,255,255,.2);
}
.scroll::-webkit-scrollbar-track:horizontal {
    border-bottom:8px solid rgba(0,0,0,.2);
}
.scroll::-webkit-scrollbar-thumb:horizontal {
    border-bottom:8px solid rgba(255,255,255,.2);
}
.scroll::-webkit-scrollbar-corner,
    .scroll::-webkit-resizer {background:inherit;
    border-right:8px solid rgba(255,255,255,.2); //optional
    border-bottom:8px solid rgba(255,255,255,.2); //optional
}
 */


.y-mandatory {
  scroll-snap-type: y mandatory;
}

.y-scroll .element {
  margin-bottom: 10px;
}


.hidden {
  opacity: 0.1;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}


.fade-in-element {
  animation: fade-in 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {opacity: 1; transform: scale(.5,.5)}
    to {opacity: 0;}
}

.fade-out-element {
  animation: fade-out 0.5s;
  animation-fill-mode: forwards;
}



p
{
    margin-bottom: 3px;
	font-family: Bahnschrift SemiCondensed;
	text-shadow: 2px 2px #000000;
}


.username
{
    font-weight: bold;
}

#control-panel
{
    position: fixed;
    left: 510px;
	top: 0px;
    border-width: 1px;
	border-color: red;
	z-index: 1000001;	
}

#timer-header
{
	font-size: 8pt;	
}

#timer-text
{
    position: fixed;
	padding: 6px;
	bottom: 2%;
	left: 10px;
	
	width: 120px;
	
	background-color: black;
	
    border: solid;
	border-radius: 10px;	
    border-width: 2px;
    border-color: #464646;
	
	font-size: 12pt;
	color: white;
	font-family: Consolas;
	text-shadow: 2px 2px #000000;
	
	z-index: 1000005;	
}

/* #voicebox
{
    position: fixed;
	bottom: 80px;
	left: 10px;
	z-index: 10000010;	
} */

/* camera controls */

.cameraButton
{
    position: relative;
    height: 40px;
    width: 200px;
	padding: 0px;

    background-color: white;
    color: black;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
	
    border-radius: 10px;
	border: solid;
	border-color: #666666;
	border-width: 4px;
	outline: none;
}

#camerabox
{
    position: fixed;
	bottom: 0%;
	left: 20%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
	width: 60%;
	height: 65px;
	
	/* background-color: #464646;	 */
	/* background-color: black;		 */
	z-index: 1000001;
}


#control-row
{
}

#aboveinput
{
}

#input
{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 15%;
    min-height: 40px;
    max-height: 100px;
	bottom: 4px;
}



/* chat settings */

#settingsButton
{
    position: relative;
    height: 40px;
    width: 250px;
	padding: 6px;
    
    left: -505px;
	top: 100%;
    
    background-color: white;
    color: black;
	
	border: solid;
    border: 1px;
}



#settings
{
    color: black;
    position: absolute;
    z-index: 1000003;
    background-color: white;

	width: 250px;	
    left: 0px;
	top: 42px;
	
}

#settingsMenu
{
    text-align: center;
    font-weight: bold;
}


#settings h3
{
    position: relative;
    
    text-align: center;
    font-weight: bold;
    
    margin-top: 6%;
    margin-bottom: 0px;
    font-size: 18px;
    
    padding-left: 0px;
    padding-right: 0px;
    
    border-bottom: solid;
    border-bottom-color: white;
}


#settings button
{
    position: relative;
    padding: 6px;
    margin: 2px;
    
    width: 90%;
    left: 0%;
    height: 15%;
	
	background-color: white;
	
    border: solid;
    border-width: 1px;	
}

#settings select
{
    position: relative;
    width: 90%;
	height: 1.6rem;
    left: 0%;
	font-size: 14pt;
	padding-bottom: 4pt;
	
	box-sizing: content-box;
	
/* 	border: solid;
    border-width: 1px;
	border-color: black; */

	/* display:inline-block; */
}

#settings select option
{
	padding:5px 0px;
	/* line-height: 20px !important; */
/* 	font-size: 16pt;
	vertical-align: bottom;	 */
}


li
{
    list-style-type: none;
}





/* to the left of chat */
#notchat
{
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
}

/* to the left of chat */
#videoframe
{
/*     position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white; */
}


#youtubelink
{
    position: absolute;
    left: 25%;
    width: 50%;
    font-size: 24px;
    top: 45%;
    
    border-radius: 4px;
}

#videoButton
{
    position: absolute;
    left: 65%;
    width: 10%;
    top: 50%;
    padding: 5px;
    
    border-radius: 4px;
}


#video-js-responsive-container.vjs-hd {
    padding-top: 56.25%;
}
#video-js-responsive-container.vjs-sd {
    padding-top: 75%;
}
#video-js-responsive-container {
    width: 100%;
    position: relative;
}
#video-js-responsive-container .video-js {
    height: 100% !important; 
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}



#errormsg
{
    position: absolute;
    left: 25%;
    top: 45%;
    z-index: -1;
}

iframe
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #6441a4;
    margin: 0px;
    padding: 0px;
}

/* hides the scrollbar for browsers that supports webkit */
body::-webkit-scrollbar
{
    width: 0px;
}


/* range input style */
input[type=range] {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  width:  90%;
  left: 0%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  
  width: 100%;
  height: 8px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
}