/* span {
  display: table-cell;
  vertical-align: middle;
} */


#chat
{
    /* background-color: #ffffff; */
    position: absolute;
    min-width: 250px;
    width: 20%;
    height: 100%;
    
    right:0%;
    top: 0%;
	
    border-bottom: solid;
    border-bottom-width: 0px;
	border-radius: 20px;	
}


#abovechat
{
    position: absolute;
	width: 100%;	
	/* height: 4.5%; */
	/* min-height: 60px; */
	
/*     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-width: 4px;
	border-color: #895BDE;
	border-radius: 20px;
	
	background: #6441a4;	
	z-index: 1000002; */
	
    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-family: Impact;
	font-size: 24pt;
	color: white;
	text-shadow: 2px 2px #000000;
	
	z-index: 1000010;
	
}

#chatoverlay-front
{
    position: absolute;
	width: 100%;	
	height: 12.5%;
	top: 8%;
	/* min-height: 60px; */
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	z-index: 1000007;
}

#chatoverlay-back
{
    position: absolute;
	width: 100%;	
	height: 12.5%;
	top: 8%;
	/* min-height: 60px; */
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	z-index: 1000000;
}

#chattext
{
    position:relative;
    height:77.5%;
	width: 90%;
	top: 7.5%;
    overflow-y: auto;
	word-wrap: break-word;
	font-size: 10pt;
	padding: 0px;
	line-height: 125%;
	margin-left: 5%;
	
	z-index: 1000001;	
	
	scroll-margin: 6px;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	/* scroll-padding: auto;	 */
	/* scroll-padding: 0px 0px 0px 0px; */
/* 	scroll-snap-type:  y proximity; */
	
	/* background: linear-gradient(to top, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);	*/
/* 	opacity: 50;
	transform: translateY(20vh);
	visibility: hidden;
	transition: opacity 0.6s ease-out, transform 1.2s ease-out;
	will-change: opacity, visibility;	 */		
}


#belowchat
{
    position: absolute;
	width: 100%;
	height: 12.5%;
	min-height: 100px;
	bottom: 2%;	

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
    border: solid;
    border-width: 3px;
	border-color: #464646;
	border-radius: 20px;
	
	background: black;

	text-align: center;
	padding: 12px;
	color: white;
	z-index: 1000002;
}



.y-mandatory {
  scroll-snap-type: y mandatory;
}

.y-scroll .element {
  margin-bottom: 10px;
}



.hidden {
  opacity: 0.1;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}


.fade-in-element {
  animation: fade-in 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {opacity: 1; transform: scale(.7,.7)}
    to {opacity: 0;}
}

.fade-out-element {
  animation: fade-out 0.5s;
  animation-fill-mode: forwards;
  
/* 	-moz-animation-name: fade-out;
	-webkit-animation-name: fade-out;
    -ms-animation-name: fade-out;
    animation-name: fade-out;  */  
}

/*     @-moz-keyframes fade-out { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
    @-webkit-keyframes fade-out { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
    @-ms-keyframes fade-out { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 
    @-keyframes fade-out { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }}  */



/* text shit */


#chatbubble
{
    padding: 12px;
    margin-bottom: 2px;
	margin-left: 0px;
	
	font-family: Roboto;
	color: white;
	text-shadow: 2px 2px #000000;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	border-radius: 15px;
	background-color: rgb(20, 20, 20, 0.75);	

	background: linear-gradient(to top, rgba(80, 80, 80, 0.85) 0%, rgba(20, 20, 20, 0.65) 100%);
	
/* 	border: solid;
    border-width: 2px;
	border-radius: 15px;
	border-color: #B0B0B0; */
	
	/* scroll-snap-type: y mandatory; */
	scroll-snap-stop: always;
	
	width:100%;
	
	z-index: 1000008;	
}


#textfield
{
    position: absolute;
    height: 28px;
    width: 88%;
	right:20px;
    
    border: solid;
	border-radius: 5px;	
    border-width: 1px;
    border-color: gray;
	top: -100%;
	
	padding-left: 5%;
	padding-right: -10%;
}

#chatButton
{
    position: absolute;
    height: 60%;
    width: 25%;
    
    right: 7.5%;
	bottom: 15%;

	border-radius: 10px;    
    background-color: #895BDE;
    color: white;
	text-shadow: 2px 2px #000000;
}


p
{
    margin-bottom: 3px;
	font-family: Bahnschrift SemiCondensed;
	text-shadow: 2px 2px #000000;
	/* padding: 6px; */
}


.username
{
    font-weight: bold;
/* 	padding: 6px;
    border: solid;
	border-radius: 12px; */
/*     border-width: 0px;
	border-color: #895BDE;
	background: #6441a4; */	
}

/* styles the chat scrollbar for the browsers that supports webkit */
#chattext::-webkit-scrollbar
{
    width: 8px;
    border-radius: 2px;
}

#chattext::-webkit-scrollbar-thumb
{
    background-color: #464646;
    border-radius: 2px;
}

#control-panel
{
    position: absolute;
    left: 500px;
    top: 15px;
    border-width: 1px;
	border-color: red;
	z-index: 1000001;	
}

#timer-text
{
    position: absolute;
    width: 100%;
    height: 15%;
    min-height: 40px;
    max-height: 100px;
	bottom: -20px;
	left: 10px;
	background-color: black;
	font-size: 18pt;
	color: white;
	z-index: 1000005;	
}


#control-parent
{
    width: 400px;
    position: absolute;
}


#control-row
{
    height: 10%;
}

#aboveinput
{
    height: 0%;
}

#input
{
    position: absolute;
    width: 100%;
    height: 15%;
    min-height: 40px;
    max-height: 100px;
	bottom: 4px;
}



/* chat settings */

#settingsButton
{
    position: relative;
    height: 40px;
    width: 250px;
	padding: 6px;
    
    left: -250px;
	top: 100%;
    
    background-color: white;
    color: black;
	
	border: solid;
    border: 1px;
}



#settings
{
    color: black;
    position: absolute;
    z-index: 1000003;
    background-color: white;

	width: 250px;	
    left: 0px;
	top: 42px;
}

#settings h3
{
    position: relative;
    
    text-align: center;
    font-weight: bold;
    
    margin-top: 6%;
    margin-bottom: 0px;
    font-size: 18px;
    
    padding-left: 0px;
    padding-right: 0px;
    
    border-bottom: solid;
    border-bottom-color: white;
}


#settings button
{
    position: relative;
    padding: 6px;
    margin: 2px;
    
    width: 90%;
    left: 0%;
    height: 15%;
	
	background-color: white;
	
    border: solid;
    border-width: 1px;	
}

#settings select
{
    position: relative;
    width: 90%;
    left: 0%;
	
	background-color: white;
	
    border: solid;
    border-width: 1px;	
}



/* videoctrl stuff */

#videoctrlButton
{	
	position: relative;
    height: 40px;
    width: 250px;
    
    left: -505px;
	top: 0%;
    
    background-color: white;
    color: black;
	
	border: solid;
    border: 1px;
}


#videoctrl
{
    color: black;
    position: absolute;
    z-index: 1000003;
    background-color: white;

	width: 250px;	
    left: 0px;
	top: 42px;
}

#videoctrl h3
{
    position: relative;
    
    text-align: center;
    font-weight: bold;
    
    margin-top: 6%;
    margin-bottom: 0px;
    font-size: 18px;
    
    padding-left: 0px;
    padding-right: 0px;
    
    border-bottom: solid;
    border-bottom-color: white;
}


#videoctrl button
{
    position: relative;
    padding: 0px;
    margin: 2px;
    
    width: 90%;
    left: 0%;
    height: 15%;
	
	background-color: white;
	
    border: solid;
    border-width: 1px;	
}

#videoctrl select
{
    position: relative;
    width: 90%;
    left: 5%;
	
	background-color: white;
	
    border: solid;
    border-width: 1px;	
}




li
{
    list-style-type: none;
}





/* to the left of chat */
#notchat
{
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
}

/* to the left of chat */
#videoframe
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
}


#youtubelink
{
    position: absolute;
    left: 25%;
    width: 50%;
    font-size: 24px;
    top: 45%;
    
    border-radius: 4px;
}

#videoButton
{
    position: absolute;
    left: 65%;
    width: 10%;
    top: 50%;
    padding: 5px;
    
    border-radius: 4px;
}


#video-js-responsive-container.vjs-hd {
    padding-top: 56.25%;
}
#video-js-responsive-container.vjs-sd {
    padding-top: 75%;
}
#video-js-responsive-container {
    width: 100%;
    position: relative;
}
#video-js-responsive-container .video-js {
    height: 100% !important; 
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}



#errormsg
{
    position: absolute;
    left: 25%;
    top: 45%;
    z-index: -1;
}

iframe
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #6441a4;
    margin: 0px;
    padding: 0px;
}

/* hides the scrollbar for browsers that supports webkit */
body::-webkit-scrollbar
{
    width: 0px;
}


/* range input style */
input[type=range] {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  width:  90%;
  left: 0%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  
  width: 100%;
  height: 8px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
}